/* Padding */
.pt-63 {
  padding-top: 63px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-10 {
  padding: 10px;
}
/* width and height*/

.full-screen {
  height: 100vh;
}

w-100 {
  width: 100%;
}

/* text propierties */
.text-typo {
  font-family: var(--text-typo);
  font-size: 1.2em;
  font-weight: 400;
}

/* Icons */
.icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

/* buttons */

.btn {
  padding: 1em 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-family: var(--text-typo);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 30px auto;
  color: var(--btn-color);
  background-color: var(--btn-background);
}
.btn:active {
  transform: translateY(-1px);
}
.btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-hover);
}

/* block propierties */
.block {
  display: block;
}

/* flex propierties */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
.gap-10 {
  gap: 10px;
}

/*Some image propeties*/
.img-profile {
  max-width: 200px;
  min-width: 100px;
  margin: auto;
}

/* Project section properties */
.bg-project {
  background-color: var(--bg-projects);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.img-project {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
  height: auto;
}

/*laptop*/
@media (max-width: 1025px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media (max-width: 769px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Movile L */
@media (max-width: 426px) {
  .card-container {
    width: 100%;
    display: block;
  }
}

/* Movil S */
@media (max-width: 321px) {
  main {
    width: 100%;
  }
}
